<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} level=%-5level logger=%logger{36} msg=%msg tenant=%X{tenant:-} user=%X{user:-}%n</pattern>
        </encoder>
    </appender>

    <logger name="com.example.auth.service.ActivityLogService" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
